

.submit__title {
  font-size: 20px;
  line-height: 16px;
  font-weight: 400;
  padding: 25px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.submit__text {
  font-size: 24px;
  line-height: 16px;
  font-weight: 500;
  padding: 25px 0;
}

.submit__info {
  max-width: 500px;
  font-size: 22px;
  line-height: 18px;
  font-weight: 400;
  padding: 25px 0;
}



.form-w {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.form-inner {
  width: 50%;
  margin-right: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 14px;
  font-weight: 400;
}

.form-control {
  border-radius: 5px;
  padding: 10px 0 10px 10px;
}

.form-message {
  width: 50%;
}

.area {
  display: block;
  height: 100%;
  resize: none;
}



.btn {
  display: block;
  min-width: 200px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 16px;
  font-weight: 500;
  padding: 10px 100px;
}

.error {
  color: #ff0000;
}