.button {
  margin: 0 auto;
  width: 230px;
  margin-bottom: 80px;
}

.button--cart {
  margin: 0;
  margin-left: auto;
}

.btn-show {
  padding: 14px 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffc09d;
  background-color: transparent;
  border: 1px solid #ffc09d;
  cursor: pointer;
}
