.test {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.cart__header {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.cart__header-product {
  padding-left: 24px;
  margin-right: 418px;
}

.cart__header-price {
  margin-right: 204px;
}

.products {
  padding-left: 24px;
  padding-right: 66px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 188px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}
