.card {
  width: 214px;
  text-align: center;
  margin-right: 48px;
  margin-bottom: 45px;
  transition: .4s ease-in-out;
}

.card:hover {
  transform: translateY(-20px);
}

.card img {
  border: 1px solid #C4C4C4;
  margin-bottom: 8px;
}


.card:nth-child(5n) {
  margin-right: 0;
}

.descr {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

.price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #333;
}
