.product {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.product__img {
  width: 216px;
  margin-right: 43px;
}

.product__descr {
  max-width: 250px;
  margin-right: 202px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.product__price {
  padding-right: 50px;
  margin-right: 150px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.product__price--m {
  position: relative;
}

.product__price--m::after {
  content: "100$ per item";
  position: absolute;
  left: 0;
  bottom: -14px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #777777;
}

.product__quantity {
  width: 67px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.product__btn {
  margin-left: auto;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #999999;
  border: none;
  background: transparent;
  cursor: pointer;
}
