.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
}

.logo {
  font-size: 18px;
  line-height: 21px;
  font-weight: 900;
}

.nav {
  margin-left: 70px;
}

.nav__list {
  display: flex;
}

.nav__list-item {
  margin-left: 15px;
}

.nav__list-item a {
  font-size: 18px;
  line-height: 21px;
  color: #5f5f5f;
}

.active {
  text-decoration: underline;
  color: #5f5f5f;
}
